.wut:nth-child(even){
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.wut{
    animation-name: appear;
    animation-duration: .5s;
    z-index:1;
}

@keyframes appear{
    from{
        opacity:0;
        transform:translateY(-50%);
        z-index:0;
    }
    to{
        opacity:100%;
        transform:translateY(0%) translateZ(0);
        z-index:0;
    }
}
